ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDFdaDF5HdaVKRL4fLPYR3gBhMEJrUoi9FVrZlEfYQAj+EDw4nCDGaPu+FtR1VamwuitlLrt2BmZIqAeNgnMY2DguExyFOYzeISNGzIrFCLtqsngaxhrAHZ1bgARpWdvxauncd/79rqe848LqWMJ45/DxfizrRYpc+MWMBPnFr7zBhnWVf5wgVul2pd3Cg50gOgK92l24nzmrLO9Ks9lt1RG8Tru9TJ/6pgEV8wzvlGoewikgYr3icFwd9eR/8q0f67LwCsdVPPd+gpXyPcOwVGSY4c1d8jcir2WOyvO+tlRe2oTOksA3h3LIAlZXbEfM+2xrg+Ct4L5KOU4BQXQS8P root@salt0-master
